/*  ------ limited reset --------*/
html, body, div, section, article, aside, header, footer, h1, h2, h3, h4, h5, h6, p, blockquote, time, span, em, strong, img, figure {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ------ html5 display rule ------- */
/*article, aside, figcaption, figure, footer, section {*/
/*    display: block;*/
/*}*/

html {
    background: #ddd;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: Georgia, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    width: 1600px;
    margin: 0 auto;
    padding: 10px 50px;
    text-align:left;
    background: white;
}
/* ----------  HEADER CSS ----------   */
header h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 120px;
    text-align: center;
}

aside {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    border: 2px solid black;
    float: left;
    padding: 20px;
    margin: 30px auto;
}

section#pubInfo{
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
}

section#pubInfo p#copyRight {
    font-size: 10px;
    display: flex;
    align-items: flex-end;
}

p#pubDate, p#price{
    text-transform: uppercase;
}

/* ---------- MAIN CSS ----------  */
main section{
    display: inline-flex;
    justify-content: space-between;
    padding: 10px 0;
    text-indent: 1.5em;
    text-align: justify;
}

figcaption{
    text-align: right;
    margin-bottom: 15px;
}

p.continue{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

p.author {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

h2 {
    text-align: center;
}

hr {
    width: 80%;
}

/* ******** LEFT ARTICLE ********* */
article#leftArticle{
    width: 500px;
    padding: 20px 10px;
}

article#leftArticle h2{
    font-family: 'Lobster', cursive;
    font-size: 38px;
}

article#leftArticle > p.leftText {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    column-rule: 1px solid #000;
}

article#leftArticle img {
    float: left;
    width: 480px;
    padding: 10px;
}

p.leftText{
    margin-top: 10px;
}

/* ******** MIDDLE ARTICLE ********* */
article#middleArticle {
    border: 2px solid gray;
    padding: 10px 20px;
    width: 700px;
}

article#middleArticle h2{
    font-size: 40px;
}
article#middleArticle > p.middleText{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    column-rule: 1px solid #000;
}

article#middleArticle img.middleImage{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 20px solid #e1d8b9;
}

.secondMiddleImage {
    float:left;
    border-radius: 20px;
}

p.middleText{
    margin-top: 10px;
}

/* ******** RIGHT ARTICLE ********* */
article#rightArticle{
    width: 300px;
    padding: 5px;
}

article#rightArticle h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 34px;
}


article#rightArticle img {
    display: block;
    top: 5px;
    bottom: 5px;
    right: 30px;
    padding: 10px;
}

article#rightArticle blockquote {
    background: #e1d8b9;
    color: #4d4d4d;
    font-size: 18px;
    font-style: italic;
    line-height: 1.6;
    margin: 20px 0 0 20px;
    width: 300px;
}
blockquote p {
    padding: 20px;
}

article#rightArticle blockquote footer{
    background: #4d4d4d;
    color: #fff;
    text-align: right;
    font-size: 18px;
    line-height: 1.4;
    padding: 10px;
    border: none;
}

q::before {
    content: open-quote;
}

q::after{
    content: close-quote;
}

/* ------- HOVER EFFECTS  -------- */
aside:hover{
    font-size: 25px;
    border: none;
    background: beige;
    -webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s linear;
}

header h1:hover{
    font-size: 140px;
}

section#pubInfo:hover {
    font-size: 25px;
    font-weight: bold;
    border: 4px solid black;
}

article h2:hover{
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
}

p.author:hover {
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: bold;
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

blockquote:hover {
    -webkit-transform: scaleY(2);
    transform: scale(2);
}

footer:hover {
    -webkit-transform: scaleY(2);
    transform: scale(2);
    background: #e1d8b9;
}

section#articleInfo p.footerText:hover{
    background: #e1d8b9;
}

/* ------- FOOTER CSS -------- */
footer {
    border: 2px solid black;
}

section#articleInfo {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
    padding: 10px;
}

section#articleInfo p.footerText{
    background: lightgrey;
}

h5 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
}

p.page {
    text-align: right;
}

/*  ------- Adding vertical line ------- */
div.line{
    border-right: 2px solid black;
    margin-right: 20px;
    padding-right: 10px;
}


/*  ---------- IMAGE HOVER ------------- */

/*  ********** Left Article ********** */
.leftContainer {
    position: relative;
}

.overlay {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    background-color: #2F3061;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.leftContainer:hover .overlay {
    width: 100%;
    left: 0;
}

.leftImageText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*  ********** Middle Article ********** */
/*             FIRST image               */
.middleContainer {
    position: relative;
}

.middleImage {
    opacity: 1;
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.middleContainer:hover .middleImage {
    opacity: 0.3;
}

.middleContainer:hover .middle {
    opacity: 1;
}

.middleImageText {
    color: black;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
}

/*             SECOND image             */
.view {
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    right: 15px;
}

.view .secondMiddleImageText{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view h4 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 18px;
    padding: 10px;
    margin: 5px 0 0 0;
}

.view p {
    font-style: italic;
    font-size: 16px;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    text-align: center
}

.secondMiddleContainer img {
    /* увеличиваем масштаб картинки по вертикали*/
    transform: scaleY(1);
    transition: all .7s ease-in-out;
}

.secondMiddleContainer .secondMiddleImageText {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}

.secondMiddleContainer h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 20px 40px 0 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}

.secondMiddleContainer p {
    color: #343434;
    opacity: 0;
}

.secondMiddleContainer:hover img {
    /* пропорциональное увеличение картинки в 10 раз */
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
}

.secondMiddleContainer:hover .secondMiddleImageText {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.secondMiddleContainer:hover h4,
.secondMiddleContainer:hover p{
    /* пропорциональное увеличение h4/p в 1 раз */
    transform: scale(1);
    opacity: 1;
}


/*  ********** Right Article ********** */
.rightContainer {
    position: relative;
}

.rightOverlay {
    position: absolute;
    top: 35%;
    left: 15px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.rightContainer:hover .rightOverlay {
    opacity: 1;
}